<app-nave-bar></app-nave-bar>
<!-- <mat-tab-group>
    <mat-tab label="Personal Details" id="tab1"> <app-personal-details (succFlag)="personalSuccesss($event)"></app-personal-details> </mat-tab>
    <mat-tab label="Language"> Language </mat-tab>
    <mat-tab label="Skills"> Skills </mat-tab>
    <mat-tab label=" Education">  Education</mat-tab>
    <mat-tab label="Family"> Family </mat-tab>
    <mat-tab label="Accomodation"> Accomodation </mat-tab>
    <mat-tab label="Work Experience">  Work Experience </mat-tab>
    <mat-tab label="Salary">  Salary </mat-tab>
    <mat-tab label="Summary/Upload">  Summary/Upload </mat-tab>
  </mat-tab-group> -->

  <div class="colss">
    <div class="container">
    <tabset>
      <tab heading="Personal Details" id="tab1">
        <div class="bloc-tabs">
        <app-personal-details></app-personal-details>
      </div>
      </tab>

      <tab heading="Language" id="tab2">
        <app-language></app-language>
      </tab>
      
      <tab heading="Skills">Basic content 2</tab>
      <tab heading="Education">Basic content 2</tab>
      <tab heading="Family">Basic content 2</tab>
      <tab heading="Accomodation">Basic content 2</tab>
      <tab heading="Work Experience">Basic content 2</tab>
      <tab heading="Salary">Basic content 2</tab>
      <tab heading="Summary/Upload">Basic content 2</tab>
    </tabset>
  </div>
  </div>

  <!-- <div class="main-part">
    <div class="container">
    <tabset>
      <tab heading="Basic title" id="tab1">
        <app-personal-details (succFlag)="personalSuccesss($event)"></app-personal-details>
      </tab>
      <tab heading="Basic Title 1">Basic content 1</tab>
      <tab heading="Basic Title 2">Basic content 2</tab>
    </tabset>
  </div>
  </div> -->
  
  
  