.fbutton{
    color: red;
  }
  .input-container { 
    position: relative;
   }
   .icon3{
    position: absolute;
    padding: 7px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    right: 10px;
    bottom: 0px;
  }
  